@import "tailwindcss";
@import "@heroui/styles";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

html,
body {
	height: 100%;
	width: 100%;
	font-family:
		-apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto,
		"Helvetica Neue", sans-serif;
	background-color: #f8fafc;
	margin: 0;
	padding: 0;
}

/* Ensure Toaster has consistent typography */
.sonner-toast {
	font-family: inherit !important;
}

@layer components {
  .kpi {
    border-radius: calc(var(--radius) * 2);
    padding: calc(var(--spacing) * 4);
    flex-direction: column;
    display: flex;
    position: relative;
  }
}
